In [2]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [3]:
load_dotenv()

True

In [4]:
MYSQL_URI = os.getenv("MYSQL_URI")
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [5]:
engine = create_engine(MYSQL_URI)

In [10]:
df = pd.DataFrame(columns=['Hello'], data=['1', '2'])

In [17]:
df = df.assign(dingus=100, bingus=200)

In [18]:
df

  Hello  dingus  bingus
0     1     100     200
1     2     100     200