In [3]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [4]:
load_dotenv()

True

In [5]:
MYSQL_URI = os.getenv("MYSQL_URI")
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [6]:
engine = create_engine(MYSQL_URI)

In [7]:
leads = pd.read_sql("SELECT * FROM Leads", engine)

In [8]:
leads[leads['Email'].isna()]

,LeadID,AccountID,ClientID,Position,FirstName,LastName,Email,CompanyName,CreatedBy,DateCreated,Owner,Status,FollowUp
165,18250,5180,100000,Director of Technical Services,,,None,Drury Hotels,haris.saif@erp-center.com,2024-09-14,None,Open,0
175,18750,5670,100000,Director - Information Technology,,,None,Oakley,haris.saif@erp-center.com,2024-09-14,None,Open,0
257,22850,7390,100000,Director Of Technical Services,,,None,KARL STORZ United States,haris.saif@erp-center.com,2024-09-14,None,Open,0
305,25250,8010,100000,Director of IT,,,None,Composites One,haris.saif@erp-center.com,2024-09-14,None,Open,0
589,39450,13200,100000,Group Chief Technology Officer,Hugues,Crepin,None,Curium Pharma,haris.saif@erp-center.com,2024-09-14,None,Open,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534,86700,13170,100000,Technical Director,Pirkle,Mark,None,Voith Hydro,haris.saif@erp-center.com,2024-09-14,None,Open,0
1535,86750,13170,100000,Technical manager,Gunnar,Bakken,None,Voith Hydro,haris.saif@erp-center.com,2024-09-14,None,Open,0
1536,86800,13180,100000,Head of Solutions,Kamil,K,None,TRILUX,haris.saif@erp-center.com,2024-09-14,None,Open,0
1537,86850,13180,100000,Leiter Group IT,Stefan,Magerstedt,None,TRILUX,haris.saif@erp-center.com,2024-09-14,None,Open,0
1538,86900,13180,100000,Chief Technology Officer,Sebastian,Traegner,None,TRILUX,haris.saif@erp-center.com,2024-09-14,None,Open,0

In [10]:
leads = pd.read_csv('/Users/harissaif/Downloads/ERP/Files/leads.csv')

In [15]:
leads['LeadID'] = np.arange(1000, 1000 + 10*leads.shape[0], 10)

In [16]:
leads

,Company Name,Position,First Name,Last Name,Email,LeadID
0,S&C Electric Company,Chief Information Officer,Bob,King,bob.king@sandc.com,1000
1,S&C Electric Company,Chief Operating Officer,Jim,Johnson,jim@sandc.com,1010
2,S&C Electric Company,VP Operations,Anthony,Bezina,anthony.bezina@sandc.com,1020
3,Bob's Discount Furniture,Chief Information Officer,Adam,Kuta,akuta@mybobs.com,1030
4,Bob's Discount Furniture,"Senior Director, Business Technology",Irene,Valentine,irene.valentine@mybobs.com,1040
...,...,...,...,...,...,...
1559,Voith Hydro,Technical Director,Pirkle,Mark,NaN,16590
1560,Voith Hydro,Technical manager,Gunnar,Bakken,NaN,16600
1561,TRILUX,Head of Solutions,Kamil,K,NaN,16610
1562,TRILUX,Leiter Group IT,Stefan,Magerstedt,NaN,16620
1563,TRILUX,Chief Technology Officer,Sebastian,Traegner,NaN,16630