In [22]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [23]:
load_dotenv()

True

In [24]:
uri = os.getenv("MYSQL_URI")
engine = create_engine(uri)

In [25]:
leads = pd.read_csv('/Users/harissaif/Downloads/files/leads.csv')

In [26]:
leads = pd.DataFrame(columns=['LeadID', 'AccountID', 'ClientID', 'Position', 'FirstName', 'LastName', 'Email', 'CompanyName', 'CreatedBy', 'DateCreated'])

In [27]:
accounts = pd.read_sql('SELECT * FROM Accounts', engine)

In [28]:
accounts

,AccountID,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone,ClientID,CreatedBy,DateCreated
0,1000,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST,100000,haris.saif@erp-center.com,2024-09-10
1,1010,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST,100000,haris.saif@erp-center.com,2024-09-10
2,1020,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST,100000,haris.saif@erp-center.com,2024-09-10
3,1030,QuikTrip,9200,31000,Retail,None,Privately Held,United States,Tulsa,EST,100000,haris.saif@erp-center.com,2024-09-10
4,1040,Chargebee,124,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST,100000,haris.saif@erp-center.com,2024-09-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1393,14930,JCB,4500,30,Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT,100000,haris.saif@erp-center.com,2024-09-10
1394,14940,BAUHAUS Deutschland,8600,77,Retail,None,Public Company,Germany,Mannheim,CET,100000,haris.saif@erp-center.com,2024-09-10
1395,14950,Bilfinger UK,4000,35,IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT,100000,haris.saif@erp-center.com,2024-09-10
1396,14960,Innomotics,1500,10,Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET,100000,haris.saif@erp-center.com,2024-09-10
1397,14970,Breuninger,3500,22,Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET,100000,haris.saif@erp-center.com,2024-09-10

In [29]:
leads = pd.read_csv('/Users/harissaif/Downloads/files/leads.csv')

In [30]:
leads.rename(columns={'Company Name': 'CompanyName'}, inplace=True)

In [32]:
accounts = pd.read_csv('/Users/harissaif/Downloads/files/accounts.csv')

In [33]:
accounts

,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone
0,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST
1,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST
2,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST
3,QuikTrip,9200,31000,Retail,NaN,Privately Held,United States,Tulsa,EST
4,Chargebee,124.4,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST
...,...,...,...,...,...,...,...,...,...
1393,JCB,4500,"30,000",Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT
1394,BAUHAUS Deutschland,8600,"77,000",Retail,NaN,Public Company,Germany,Mannheim,CET
1395,Bilfinger UK,4000,"35,000",IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT
1396,Innomotics,1500,"10,000",Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET
1397,Breuninger,3500,"22,000",Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET

In [34]:
accounts[accounts['CompanyName'].duplicated()]

,CompanyName,CompanyRevenue,EmployeeHeadCount,CompanyIndustry,CompanySpecialties,CompanyType,Country,City,Timezone
319,Lands'​ End,1550,5000,Apparel & Fashion,"Retail, Direct Sales, Catalog, Digital, Appare...",Public Company,United States,Dodgeville,EST
495,Jared the Galleria of Jewelry,1100,2400,Retail Luxury Goods and Jewelry,NaN,Public Company,United States,Akron,EST
598,E. & J. Gallo Winery,5000,6400,Beverage Manufacturing,NaN,Privately Held,United States,Modesto,EST
650,"Zakat, Tax and Customs Authority",600,1200,Government Administration,"Zakat, Tax, VAT, customs",Government Agency,Saudi Arabia,Riyadh,AST
659,The Hershey Company,8500,16000,Manufacturing,Consumer Packaged Goods,Public Company,United States,Hershey,EST
662,"TETRA Technologies, Inc.",700,1500,Oil and Gas,"Early Production Facilities, Water Management ...",Public Company,United States,The Woodlands,EST
672,The Johns Hopkins University School of Medicine,4000,25000,Hospitals and Health Care,NaN,Educational,United States,Baltimore,EST
806,STERIS,3000,12000,Medical Equipment Manufacturing,"Procedure Ready, Instrument Repair, Surgical D...",Public Company,United States,Birmingham,EST
967,STADA Emerging Markets,1000,3000,Pharmaceutical Manufacturing,NaN,Public Company,United Arab Emirates,Dubai Healthcare City,GST
1083,Webasto Americas,1000,3000,Motor Vehicle Manufacturing,NaN,Privately Held,United States,Auburn Hills,EST

In [38]:
accounts.drop_duplicates(subset='CompanyName', keep='first', inplace=True)

In [42]:
accounts[accounts['CompanyName'].duplicated()]

Empty DataFrame
Columns: [CompanyName, CompanyRevenue, EmployeeHeadCount, CompanyIndustry, CompanySpecialties, CompanyType, Country, City, Timezone]
Index: []

In [47]:
accounts = pd.read_sql('SELECT * FROM Accounts', engine)

In [44]:
accounts.to_csv('/Users/harissaif/Downloads/files/accounts.csv', index=False)

In [48]:
df = pd.merge(leads, accounts[['AccountID', 'CompanyName', 'ClientID']], on='CompanyName')

In [68]:
df[df['Email'].duplicated()].dropna()

,CompanyName,Position,First Name,Last Name,Email,AccountID,ClientID
242,Baker Construction,Chief Information and Technology Officer,Jennifer,Hohman,jennifer.hohman@bakerconcrete.com,7250,100000
254,KARL STORZ United States,"VP, Information Technology",Matt,Butcher,bm@karlstorz.com,7390,100000
255,KARL STORZ United States,Global Information Technology Director,Torsten,Brzezinski,tbrzezinski@karlstorz.com,7390,100000
466,Webasto Americas,Information Technology Team Lead,Joseph,Willett,joseph.willett@webasto.com,9220,100000

,CompanyName,Position,First Name,Last Name,Email,AccountID,ClientID
140,"KARL STORZ Endoscopy-America, Inc.",Global Information Technology Director,Torsten,Brzezinski,tbrzezinski@karlstorz.com,4730,100000
255,KARL STORZ United States,Global Information Technology Director,Torsten,Brzezinski,tbrzezinski@karlstorz.com,7390,100000