In [17]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [18]:
load_dotenv()

True

In [19]:
MYSQL_URI = os.getenv("MYSQL_URI")
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [20]:
engine = create_engine(MYSQL_URI)

In [21]:
accounts = pd.read_csv('/Users/harissaif/Downloads/accounts_list.csv')

In [22]:
accounts

,Company Name,Company Revenue in millions,Empoyee Head Count,Company Industry,Company Specialities,Company Type,Company Location Country Name,Company Location City,Company Location Timezone
0,NCH Corporation,6000,8500,Chemicals,"Production Chemicals/Manufacturing, Commercial...",Privately Held,United States,Irving,EST
1,Sammons Financial Group Companies,468,1300,Financial Services,Financial Services,Privately Held,United States,West Des Moines,EST
2,Lexington Medical Center,3800,8000,Hospital & Health Care,"Heart Center, Women's Services, Cancer Center,...",Nonprofit,United States,West Columbia,EST
3,QuikTrip,9200,31000,Retail,NaN,Privately Held,United States,Tulsa,EST
4,Chargebee,124.4,1110,Financial Services,"Recurring Billing, Subscription Management, Pa...",Privately Held,United States,San Francisco,EST
...,...,...,...,...,...,...,...,...,...
1393,JCB,4500,"30,000",Machinery Manufacturing,Construction Equipment Manufacturing,Privately Held,United Kingdom,Rocester,GMT
1394,BAUHAUS Deutschland,8600,"77,000",Retail,NaN,Public Company,Germany,Mannheim,CET
1395,Bilfinger UK,4000,"35,000",IT Services and IT Consulting,"Oil & Gas, Energy & Power, Pharmaceutical & Ch...",Privately Held,United Kingdom,London,GMT
1396,Innomotics,1500,"10,000",Machinery Manufacturing,"Electric Motors, Low Voltage Motors, High Volt...",Public Company,Germany,Erlangen,CET
1397,Breuninger,3500,"22,000",Retail,"Fashion, Lifestyle, Premium and Luxury , Omnic...",Public Company,Germany,Stuttgart,CET

In [24]:
accounts.drop_duplicates(subset='Company Name', keep='first', inplace=True)

In [27]:
accounts.to_csv('/Users/harissaif/Downloads/accounts.csv', index=False)